<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Machine Learning Page">
    <meta name="keywords" content="Machine Learning, AI, Prediction">
    <meta name="author" content="Firas CHABCHOUB">
    <meta name="content-type" content="application/json">
    <title>Machine Learning</title>
</head>
<body>
<div>
    <h1>Machine Learning</h1>
    <p>Welcome to the Machine Learning page!</p>
    <p>Here you can find various resources and information about machine learning.</p>
    <a href="/predict">Predict</a>
</div>
</body>
</html>